@font-face {
  font-family: 'Kidpixies';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/KidpixiesRegular.ttf') format('truetype');
}
h1 {
  font-family: 'Kidpixies';
  font-weight: 200;
  color:#0ccac4
}
.dark-theme {
  background-color: #121212;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}